@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Roboto:400,700");
@import url('https://fonts.googleapis.com/css?family=Bitter|Cabin');
#protograph-div {
  overflow: hidden;
}
.card-content{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.no-padding-col {
  padding: 0px !important;
}

.no-left-padding{
  padding-left: 0px !important;
}

.no-right-padding{
  padding-right: 0px !important;
}
.image-area{
	margin-bottom:10px;
	width:100%;
}
.image-area>img{
	width:100%;
}
.proto-card {
  padding-bottom: 30px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  position: relative;
}
.proto-card .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #333;
  line-height: 34px;
  font-size: 26px;
}
.proto-card .by-time-line {
  padding: 10px 0px;
}
.proto-card .by-time-line .by-line {
  color: #55a8fd;
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


.profile-card-title {
	font-size: 18px;
	color: black;
	font-family: "bitter";
	font-weight: bold;
	margin-bottom: 20px;
}
.to-profile-card p {
	font-size: 14px;
	line-height: 21px;
	color: #707175;
}
.detail-key {
	color: black;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold;
	font-family: "cabin";
	margin-bottom: 5px;
}
.detail-value {
	font-size: 14px;
	margin-bottom: 20px;
	color: #707175;
	font-family: "cabin";
}
.image-styling{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#ProtoScreenshot {
  width: 450px;
  padding: 10px 15px;
  height: 450px;
  overflow: hidden;
}

@media only screen and (max-width: 500px){
	.col-2-story-card{
		margin-right: 20px;
	}
	div.col-2> div:nth-of-type(even) {
	    margin-right: 0px;
  }
  .proto-grid-container {
    width: 100%;
    padding-left: 0px; }

  .col-7 {
    width: 100%; }

  .col-16 {
    width: 100%; }

  .col-4 {
    margin-left: 50%;
    transform: translate(-50%, 0); }

  .col-3 {
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%, 0); }

  .col-2 {
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%, 0); }

    .col-16-story-card{
        margin-top: 0px;
        width: 100%;
    }

    .col-16-story-card .article-title{
        font-size: 22px;
        max-width: 100%;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.5px;
        padding-right: 20px;
        margin-left: 0px;
    }

  .col-2-story-card{
		margin-right: 20px;
	}
	div.col-2> div:nth-of-type(even) {
	    margin-right: 0px;
	}
}

@media only screen and (max-width: 450px){
  .proto-card .title-text-layout .card-text {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
  .proto-card .title-big-img-text-layout .card-text {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
  .no-left-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .no-right-padding{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .title-small-img-text-layout img{
    margin-bottom: 10px;
  }
}